@import "tailwindcss";

@theme {
    --color-burning-orange-500: #ef3907;
    --color-burning-orange-400: #FF702C;
    --color-burning-orange-300: #FFA871;

    --color-web-orange-50: #FFF9EB;
    --color-web-orange-100: #FDEEC8;
    --color-web-orange-400: #F8A519;
    --color-web-orange-500: #f2880e;
    --color-web-orange-600: #d66409;

    --color-nutmeg-wood-800: #874f0c;
    --color-nutmeg-wood-900: #693B0F;
}

.text-title{
    font-family: 'Fredoka One', system-ui;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

.text-styled{
    font-family: 'Pacifico', cursive;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

.text-subtitle{
    font-family: 'Nunito', sans-serif;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color-burning-orange-400);
}

#wave-navbar-mobile,
#wave-navbar {
    transform: translateY(-50px);
    opacity: 0;
    filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.2));
    animation: slideDown linear both;
    animation-timeline: scroll();
}

#wave-navbar-mobile {
    animation-range: 40vh 60vh;
}

#wave-navbar {
    animation-range: 0 30vh;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

