@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-burning-orange-500: #ef3907;
    --color-burning-orange-400: #FF702C;
    --color-burning-orange-300: #FFA871;

    --color-web-orange-50: #FFF9EB;
    --color-web-orange-100: #FDEEC8;
    --color-web-orange-400: #F8A519;
    --color-web-orange-500: #f2880e;
    --color-web-orange-600: #d66409;

    --color-nutmeg-wood-800: #874f0c;
    --color-nutmeg-wood-900: #693B0F;
}

.text-title{
    font-family: 'Fredoka One', system-ui;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

.text-styled{
    font-family: 'Pacifico', cursive;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

.text-subtitle{
    font-family: 'Nunito', sans-serif;
    
    text-wrap: balance;
    color: var(--color-nutmeg-wood-900);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    position: relative;

    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;

    background-color: var(--color-burning-orange-400);
}
