---
import "./src/styles/global.css";
import "@fontsource/fredoka-one";
import "@fontsource/pacifico";
import "@fontsource/nunito";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chepas</title>
  </head>
  <body>
    <slot />
  </body>
</html>
